extends header

block content
  .jumbotron.container
    .row.row-centered
      if error
        div.alert.alert-danger(role='alert')= error
      .col.col-centered
          form(role='form', action='/server/create/' method='post')
              .form-group
                label(for='ip') IP or Hostname:
                input#ip.form-control(type='text' name='ip')
                
              .form-group
                label(for='port') Port:
                input#port.form-control(type='number' name='port')
                
              button.btn.btn-primary(type='submit') Create Server
