extends layout

block append extraHeader 
    link(href='/stylesheets/header.css', rel='stylesheet')

block header
  nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            strong Server Finder
        
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
                a(href="/") 
                    strong Users
            li
                a(href="/server/list") 
                    strong Servers
          
          ul.nav.navbar-nav.navbar-right
          
            if user
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                      .btn-group
                        button.btn.btn-primary
                            strong=user.displayName
                        button.btn.btn-primary.dropdown-toggle(dropdown-toggle='')
                            span.caret

                  ul.dropdown-menu
                    li
                      .navbar-login
                        .row
                          .col-lg-4
                            p.text-center
                              img.img-thumbnail(width=50, height=50, src=user.img, style="margin-left: 10px; margin-right: 10px")
                          .col-lg-8
                            p.text-left
                              strong=user.displayName
                            p.text-left.small=user.email
                            p.text-left
                              a.btn.btn-primary.btn-block.btn-sm(href='/profile/') Profile

                    li.divider
                    li
                        .navbar-login.navbar-login-session
                          .row
                            .col-lg-12
                              p
                                a.btn.btn-danger.btn-block(href="/user/logout") Logout
            else
                a.navbar-brand(href='/auth/local/login') Login
                            
                          
        