.col-md-8>p {
    font-size: 18px;
}
td>p {
    font-size: 14px !important;
}
.row.hl:hover {
    background-color: #ddd;
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    display: table-header-group;
}
iframe {
    resize: both;
}
.colorless-link,
.colorless-link:visited,
.colorless-link:hover,
.colorless-link:active {
    color: inherit;
}

/* centered columns styles */

.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: center;
    /* inline-block space fix */
    margin-right: -4px;
}
