.col-md-8>p {
    font-size: 18px;
}
td>p {
    font-size: 14px !important;
}
.row.hl:hover {
    background-color: #ddd;
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    display: table-header-group;
}
iframe {
    resize: both;
}
